@import url('../styling/variables.css');


/* Reseting default browser styling */
*{
    border: 0;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--background-color);
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}