:root {
    --background-color: rgb(217, 217, 217);
    --popup-background-color: rgba(0, 0, 0, 0.3);
    --transparent-blue: rgba(72,158,207,0.33);
    --medium-blue: #489ECF;
    --dark-blue: #17628D;
    --white: #FFFFFF;
    --black: #000000;
}